<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Guitar World</title>

</head>
<body>
    <center>{% load static %}
    <img style="width: 20%; margin-top: 5%; margin-bottom: -5%" src="{% static "discovery/guitar_logo.png" %}">
    </center>
    <div style="margin: 10%;">
    <form action="{% url 'results' %}" method="POST">
        {% csrf_token %}
      <div class="form-group">
        <label for="exampleFormControlSelect1">Qual seu tipo de Música preferido?</label>
        <select name="genre" class="form-control" id="exampleFormControlSelect1">
          <option value="Rock">Rock</option>
          <option value="Jazz">Jazz</option>
          <option value="Metal">Metal</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Qual seu nível?</label>
        <select class="form-control" name="level" id="exampleFormControlSelect1">
          <option value="Iniciante">Iniciante</option>
            <option value="Amador">Amador</option>
          <option value="Profissional">Profissional</option>
        </select>
      </div>

      <div class="form-group">
        <label for="formControlRange">Até quanto pretende investir?</label>
        <input type="range" min="150" max="2000"  name="price" class="form-control-range" id="formControlRange">
          <p>Value: <span id="demo"></span></p>
      </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
                <label for="formControlRange">Vizinhos chatos</label>
                <select name="loud" class="form-control" id="exampleFormControlSelect1">
                  <option value="0">Não</option>
                    <option value="1">Sim</option>
                </select>
            </div>
          </div>
        </div>

        <div class="form-group">
        <label for="exampleFormControlSelect1">Cor do acabamento</label>
        <select name="color" class="form-control" id="exampleFormControlSelect1">
          <option value="Preto">Preto</option>
          <option value="Vermelho">Vermelho</option>
          <option value="Sunburst">Sunburst</option>
        </select>
      </div>

        <div class="form-group">
        <label for="exampleFormControlSelect1">Encordamento</label>
        <select name="chords" class="form-control" id="exampleFormControlSelect1">
          <option value="0.9">0.9</option>
          <option value="0.10">0.10</option>
          <option value="0.11">0.11</option>
        </select>
      </div>
        <button type="submit" class="btn btn-primary">Encontrar minha guitarra perfeita</button>
    </form>
    </div>
    <script>
        var slider = document.getElementById("formControlRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>